@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.header {            /* font per il logo*/
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
}

.allineatore {
  text-align: center;
}

.showElement {      /* usa questa classe per non vedere un elemento finchè la larghezza è minore di 992 */
  display: none;
}

.barranavigazione {    /* sfondo barra di navigazione */
  background-color: #e0004b;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

.center {     /* centra verticalmente la nav bar*/
  margin: auto;
  width: 50%;
  padding: 10px;
}

.collegamentiBarra {
  font-size: 20px;
  color: black;
  padding: 15px;
}

.collegamentiBarra:hover {
  color:white;
}

.immaginiCarosello {
  width: 100%;
  height: 300px;
}

.benvenuto {
  border: 2px solid #e0004b;
  margin-top: 5px;

}

.testoBenvenuto {
  font-size:1.4em;
  padding-top:10px;
  font-family: 'Special Elite', cursive;
}

.titoloPrincipale {
  font-size: 2.7em;
  margin-top:-25px;
  font-family: 'Texturina', serif;
}

.slogan {
  color:#e0004b;
  margin-top:-10px;
}

.descrizione {
  padding:10px 40px;
}

.testo {
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
}

.test {
  margin:30px;
}

.contatti {
  margin-top:30px;
}

.mappa {
  padding:20px;
}

.contattami {
  color: white;
}

.stanzeImmagini {
  width: 100%;
}

.allineatoreSinistra {
  text-align: left;
}

.stanze {
  margin-top:20px;
}


/* On screens that are 991px wide or less*/
@media screen and (max-width: 991px) {
  .hiddenElement{      /* usa questa classe per nascondere un elemento*/
    display: none;
  }

  .showElement{
    display: inline;
  }
}
